extends ../master-template-etudiant.pug 
block content
    //- Start bloc content
    +btn-back("Détail Devoir", returnUrl )
    - var dateDebut = moment(devoir._dateDebut, "DD-MM-YYYY")
    - var dateFin = moment(devoir._dateFin, "DD-MM-YYYY")
    - var isOpen = moment().isBetween(dateDebut, dateFin, "[]"); 
    div.row       
        div.col.s10.offset-s1     
            h2.no-margin #{devoir._nom} 
            div.row
                div.col.s12
                    ul.entries                        
                        li Description: #{devoir._description} 
                        li Note Maximale: #{devoir._noteMaximale} 
                        li Date début: #{dateDebut.format("LL")} 
                        li Date fin: #{dateFin.format("LL")}    

            h2.no-margin Remise 
            div.row
                div.col.s12
                    ul.entries                        
                        li État: #{devoir._remiseEtudiant._etat} 
                        li Date remise: #{devoir._remiseEtudiant._dateRemis || "-"} 
                        li Date correction: #{devoir._remiseEtudiant._dateCorrection || "-"}
                        li Note: #{devoir._remiseEtudiant._note || "-"} / #{devoir._noteMaximale}

            if isOpen
                div.section
                    div.row
                        div.col.s12
                            a(class="waves-effect waves-light btn blue accent-2 right btn-remettre-devoir modal-trigger" 
                                href=`#modal-remettre-devoir-${devoir._id}`) Remettre
    if isOpen
        +modal-remettre-devoir(devoir._nom,  devoir._idEspaceCours, devoir._id)
    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/etudiant/devoir/devoir.js")