extends ../../commun/master-template.pug 

block content
  //- Start bloc content
  h1 #{cours._sigle} - #{cours._titre} - Gr: #{groupe._numero} 
  ul.entries 
    li Nb étudiant Max: #{cours._nbMaxEtudiant} 
    li Date début: #{groupe._dateDebut}
    li Date fin: #{groupe._dateFin}

  h1 Liste des étudiants  
  ul.entries
    each unEtudiant in groupe._etudiants
      li       
        strong #{unEtudiant._nom} #{unEtudiant._prenom} 
        | : #{unEtudiant._email} - #{unEtudiant._code_permanent}
    else
      li
        em Pas d'étudiants dans le cours


  
  a(class="btn btn-delete-cours" href="javascript:void(0)" 
    data-id-groupe=groupe._id
    data-no-groupe=groupe._numero
    data-sigle=cours._sigle) Supprimer 
  //- End bloc content

block more-script
  script(type="text/javascript" src="/lib/enseignant/cours/cours.js")