extends ../../commun/master-template.pug 

block content
  //- Start bloc content
  h1 #{espaceCours._cours._sigle} - #{espaceCours._cours._titre} - Gr: #{espaceCours._numero} 
  ul.entries 
    li Nb étudiant Max: #{espaceCours._cours._nbMaxEtudiant} 
    li Date début: #{espaceCours._dateDebut}
    li Date fin: #{espaceCours._dateFin}

  h1 Liste des étudiants  
  ul.entries
    each unEtudiant in espaceCours._etudiants
      li       
        strong #{unEtudiant._nom} #{unEtudiant._prenom} 
        | : #{unEtudiant._email} - #{unEtudiant._code_permanent}
    else
      li
        em Pas d'étudiants dans le cours


  
  a(class="btn btn-delete-cours" href="javascript:void(0)" 
    data-id-espace-cours=espaceCours._id
    data-titre-espace-cours=espaceCours._cours._sigle + "-" + espaceCours._cours._titre + "- Gr :" + espaceCours._numero
    ) Supprimer 
  //- End bloc content

block more-script
  script(type="text/javascript" src="/lib/enseignant/cours/cours.js")