extends ../../commun/master-template.pug 

block content
  //- Start bloc content
  +btn-back("Ajouter un Espace Cours", "/enseignant/cours")   
  div.row
    div.col.s10.offset-s1   
      div.row
        each unCours in cours   
          div.col.s12.l5
            div.card
              div.card-content
                div.card-title
                  div.text-bold #{unCours._sigle}                     
                div #{unCours._titre}                
                div Gr: #{unCours._groupe}            
              div.card-action
                form.center-align.form-ajouter-cours.no-margin(id=unCours._id) 
                  input.coursData(name="data", type="hidden", value=unCours)
                  a(class="btn-submit-form" href="javascript:void(0)") Ajouter
        else      
          em Vous n'avez pas de groupes-cours

  //- End bloc content


block more-script
  script(type="text/javascript" src="/lib/enseignant/cours/liste-cours-sgb.js")