extends ../../commun/master-template.pug 

block content
  //- Start bloc content
  +btn-back("Vos Espaces Cours", "/")  
  div.row
    div.col.s10.offset-s1   
      a(class="waves-effect waves-light btn btn-ajouter-cours" href='/enseignant/cours/ajouter') Ajouter

      div.section
        div.row
          each espace in espaceCours     
            div.col.s12.l5
              div.card
                div.card-content
                  div.card-title
                    div
                      strong #{espace._cours._sigle}          
                    div #{espace._cours._titre}                
                    div Gr: #{espace._numero}            
                div.card-action
                  a(class="btn-detail-cours" href="/enseignant/cours/detail/" + espace._id) Détail 
                  a(class="btn-question-cours" href="/enseignant/question/" + espace._id) Questions 
                  a(class="btn-delete-cours" href="javascript:void(0)" 
                    data-id-espace-cours=espace._id
                    data-titre-espace-cours=espace._cours._sigle + "-" + espace._cours._titre + "- Gr :" + espace._numero
                    ) Supprimer 
          else
            div.col.l12
              em Vous n'avez pas de cours

  //- End bloc content

block more-script
  script(type="text/javascript" src="/lib/enseignant/cours/cours.js")
