extends ../passer-question
block question
    div.row
        div.col.s12
            h2.no-margin #{question._nom} 
            p #{question._descriptionQuestion} 

        - var reponseQuestion = tentative._mapReponse[question._id] 
        each choix in question._answerChoix
            div.col.s12(style="margin-bottom:15px")
                label
                    input(class="with-gap ckb-choix" type="checkbox" name=choix.choix
                        checked=reponseQuestion ? reponseQuestion[choix.choix] : false)                     
                    span #{choix.choix}                            


