extends ../passer-question
block question
    div.row
        div.col.s12
            h2.no-margin #{question._nom}
            p #{question._descriptionQuestion} 

        - var reponseQuestion = tentative._mapReponse[question._id] 
        - var lstCorrespondance = question._answerChoix.map(a => a.correspondance);
        each choix in question._answerChoix
            div(class="input-field col s12")
                h3.no-margin #{choix["reponse"]}
                select.browser-default(name=choix["reponse"] id=`select-${choix["reponse"]}`) 
                    option(value="" disabled 
                        selected=!reponseQuestion || !reponseQuestion[choix["reponse"]] ? true : false) Selectionnez la correspondance
                    each correspondance in lstCorrespondance
                        option(value=correspondance
                            selected=reponseQuestion && reponseQuestion[choix["reponse"]] ? reponseQuestion[choix["reponse"]] == correspondance : false
                            ) #{correspondance} 



