extends ../passer-question
block question
    <div class="col s12 center">
        <div class="row">
            <table id="tableauCorrespondance" title="Liste des correspondance"></table>       
        </div> 
        <div class="row">
            <div class="input-field inline">
                <input id="valeurCorrespondance" type="text">
                <label for="valeurCorrespondance">correspondance</label>
            </div>           
            <button id="creerCorrespondance"class="btn waves-effect waves-light inline" type="submit" name="action">Ajouter
                <i class="material-icons right">send</i>
            </button>         
        </div> 
    </div>
   
    form.form-ajouter-question.section(id="form-ajouter-question-vf")
        input(type="hidden" name="idEspaceCours", value=idEspaceCours) 
        input(type="hidden" name="typeQuestion", value=estModification ? question._type : typeQuestion) 
        if estModification   
            input(type="hidden" name="estModification", value=estModification.toString())   
            input(type="hidden" name="idQuestion", value=question._id)  
            input(type="hidden" name="reponsesChoix", value=question._answerChoix)  
            input(type="hidden" name="correspondance", value=question.correspondances)  
        div.row
            div.input-field.col.s6
                input#nom(type="text" name="nom" value=estModification ? question._nom : "" required)
                label(for="nom") Nom
            div.input-field.col.s6
                input#tags(type="text" name="tags" value=estModification ? question._tags.join(",") : "")
                label(for="tags") Tags (Séparer par des ",")
            div.col.s12(class="input-field")
                input(type="text" id="question" required value=estModification ? question._descriptionQuestion :"")
                <label for="question">Entrer votre courte question !</label>
            div(id="questionTotal")
                div.col.s12(class="input-field")
                    input(type="text" name="reponses" class="reponses" required)
                    <label for="text">Entrer une description</label>
                div.col.s12
                    <label>Selectionner la correspondance équivalente</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Choisissez la correspondance</option>
                    </select>
                div.input-field.col.s6
                    textarea(class="materialize-textarea descriptionReponse" name="descriptionReponse" id="descriptionReponse")
                        |#{""}
                    label(for="descriptionReponse") Description bonne réponse
                div.input-field.col.s6
                    textarea(class="materialize-textarea descriptionMauvaiseReponse" name="descriptionMauvaiseReponse" id="descriptionMauvaiseReponse")
                        |#{""}
                    label(for="descriptionMauvaiseReponse") Description mauvaise réponse
                div.col.s12  
                    <a href="javascript:void(0)" class="waves-effect waves-circle waves-light btn-floating btn-large right">
                        <i class="material-icons ajouterCourteQuestion">add</i>
                    </a>
        div.col.s12  
            button(class="waves-effect waves-light btn" id="addAll" type="submit") #{estModification ? "Modifier" : "Ajouter"} 
    