extends ../../commun/master-template.pug 

block content
    //- Start bloc content
    +btn-back(estModification ? "Modifier une question" : "Ajouter une question", 
     "/enseignant/question/" + idEspaceCours)  
    div.row
        div.col.s10.offset-s1   
            if !estModification 
                div.row
                    div.col.s12
                        a(class="waves-effect waves-light btn right btn-terminer-ajout blue accent-2" href="/enseignant/question/" + idEspaceCours) Terminer l'ajout

            form.form-ajouter-question.section(id="form-ajouter-question") 
                //- Début Form 
                input(type="hidden"  name="idEspaceCours", value=idEspaceCours)   
                input(type="hidden"  name="estModification", value=estModification.toString())   
                input(type="hidden"  name="idQuestion", value=estModification ? question._id : "")  

                div.row.no-margin
                    div.input-field.col.s6
                        input#nom(type="text" name="nom" value=estModification ? question._nom : "" required)
                        label(for="nom") Nom
                    div.input-field.col.s6
                        input#tags(type="text" name="tags" value=estModification ? question._tags.join(",") : "")
                        label(for="tags") Tags (Séparer par des ",")
                div.row.no-margin
                    div.input-field.col.s12
                        textarea#description(class="materialize-textarea" name="description" required)
                            |#{estModification ? question._descriptionQuestion : ""}
                        label(for="description") Description

                    div.input-field.col.s6
                        textarea#descriptionReponse(class="materialize-textarea" name="descriptionReponse")
                            |#{estModification ? question._descriptionReponse : ""}
                        label(for="descriptionReponse") Description bonne réponse

                    div.input-field.col.s6
                        textarea#descriptionMauvaiseReponse(class="materialize-textarea" name="descriptionMauvaiseReponse")
                            |#{estModification ? question._mauvaiseReponseDescription : ""}
                        label(for="descriptionMauvaiseReponse") Description mauvaise réponse
                div.row.no-margin
                    div.input-field.col.s12
                        div.row
                            div.col.s12
                                label Réponse
                            div.col.s12
                                div
                                    label
                                        input(class="with-gap rd-reponse" type="radio" name="response" value="true" checked=estModification && question._reponse required) 
                                        span Vrai
                                div
                                    label
                                        input(class=" with-gap rd-reponse" type="radio" name="response" value="false" checked=estModification && !question._reponse required) 
                                        span Faux
                div.row
                  div.col.s12  
                    button(class="waves-effect waves-light btn" type="submit") #{estModification ? "Modifier" : "Ajouter"} 
                //- Fin form

    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/ajouter-modifier-question.js")
