extends ../master-template-enseignant.pug 
block content
    +btn-back("Détail Question",  "/enseignant/question/" + question._idEspaceCours)
    div.row
        div.col.s10.offset-s1   
            div.row
                div.col.s12
                    a(class="waves-effect waves-light btn right btn-modifier-question blue accent-2" 
                        href="/enseignant/question/modifier/" + question._idEspaceCours + "/" + question._id) Modifier  
            div.section
                div.row.no-margin
                    div.input-field.col.s6
                        input#nom(type="text" name="nom" value=question._nom : "" disabled)
                        label(for="nom") Nom
                    div.input-field.col.s6
                        input#tags(type="text" name="tags" value=question._tags.join(",") disabled)
                        label(for="tags") Tags (Séparer par des ",")
                div.row.no-margin
                    div.input-field.col.s12
                        textarea#description(class="materialize-textarea" name="description" disabled)
                            |#{question._descriptionQuestion}
                        label(for="description") Description

                    div.input-field.col.s6
                        textarea#descriptionReponse(class="materialize-textarea" name="descriptionReponse" disabled)
                            |#{question._descriptionReponse}
                        label(for="descriptionReponse") Description bonne réponse

                    div.input-field.col.s6
                        textarea#descriptionMauvaiseReponse(class="materialize-textarea" name="descriptionMauvaiseReponse" disabled)
                            |#{question._mauvaiseReponseDescription}
                        label(for="descriptionMauvaiseReponse") Description mauvaise réponse
                div.row.no-margin    
                    div.input-field.col.s12
                        div.row
                            div.col.s12
                                label Réponse
                            div.col.s12
                                div
                                    label
                                        input(class="with-gap rd-reponse" type="radio" name="response" value="true" checked=question._reponse disabled) 
                                        span Vrai
                                div
                                    label
                                        input(class=" with-gap rd-reponse" type="radio" name="response" value="false" checked=!question._reponse disabled) 
                                        span Faux
                div.row
                    div.col.s12                          
                        a(class="waves-effect waves-light btn red right btn-delete-question" href="javascript:void(0)" 
                            data-id-question=question._id
                            data-nom=question._nom
                            data-id-espace-cours=question._idEspaceCours) Supprimer 




    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/question.js")