extends ../../commun/master-template.pug 

block content
    h1 #{question.getNom()}
    ul.entries 
        li 
            <strong>Tag:</strong> #{question.getTag()}
        li 
            <strong>Description</strong>: 
            br
            |#{question.getDescriptionQuestion()} 
        li 
            <strong>Réponse:</strong> #{question.getReponse() ? "Vrai" : "Faux"}
        li 
            <strong>Description bonne réponse:</strong> 
            br
            |#{question.getDescriptionReponse()}
        li 
            <strong>Description mauvaise réponse:</strong>
            br
            |#{question.getMauvaiseReponseDescription()}

    a(class="btn btn-delete-question" href="javascript:void(0)" data-id-question=question.getId() data-nom=question.getNom()) Supprimer 

    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/question.js")