extends ../../commun/master-template.pug 

block content
    h1 #{question._nom}
    ul.entries 
        li 
            <strong>Tag:</strong> #{question._tag}
        li 
            <strong>Description</strong>: 
            br
            |#{question._descriptionQuestion} 
        li 
            <strong>Réponse:</strong> #{question._reponse ? "Vrai" : "Faux"}
        li 
            <strong>Description bonne réponse:</strong> 
            br
            |#{question._descriptionReponse}
        li 
            <strong>Description mauvaise réponse:</strong>
            br
            |#{question._mauvaiseReponseDescription}

    a(class="btn btn-modifier-question" href="/enseignant/question/groupe/" + question._idGroupeCours + "/modifier/" + question.id) Modifier  
    a(class="btn btn-delete-question" href="javascript:void(0)" 
        data-id-question=question.id
        data-nom=question._nom
        data-id-coursgroupe=question._idGroupeCours) Supprimer 
    

    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/question.js")