extends ../ajouter-modifier-question.pug 
block question
    form.form-ajouter-question.section(id="form-ajouter-question-vf")
        input(type="hidden" name="idEspaceCours", value=idEspaceCours) 
        input(type="hidden" name="typeQuestion", value=estModification ? question._type : typeQuestion) 
        if estModification   
            input(type="hidden" name="estModification", value=estModification.toString())   
            input(type="hidden" name="idQuestion", value=question._id)  
            input(type="hidden" name="reponsesChoix", value=question._answerChoix)  
        div.row
            div.input-field.col.s6
                input#nom(type="text" name="nom" value=estModification ? question._nom : "" required)
                label(for="nom") Nom
            div.input-field.col.s6
                input#tags(type="text" name="tags" value=estModification ? question._tags.join(",") : "")
                label(for="tags") Tags (Séparer par des ",")
            div(id="questionTotal")
                div.col.s12(class="input-field")
                    input(type="text" id="question" name="choix" class="description" required)
                    <label for="text">Entrer une description </label>
                div.col.s12
                div.col.s12(class="reponse")
                    <label>
                        <input type="checkbox" class="filled-in" name="reponses" />
                        <span>Est une bonne réponse</span>
                    </label>

                div.input-field.col.s6
                    textarea#descriptionReponse(class="materialize-textarea descriptionReponse" name="descriptionReponse")
                        |#{""}
                    label(for="descriptionReponse") Description bonne réponse
                div.input-field.col.s6
                    textarea#descriptionMauvaiseReponse(class="materialize-textarea descriptionMauvaiseReponse" name="descriptionMauvaiseReponse")
                        |#{""}
                    label(for="descriptionMauvaiseReponse") Description mauvaise réponse
                div.col.s12  
                    <a href="javascript:void(0)" class="waves-effect waves-circle waves-light btn-floating btn-large right">
                        <i class="material-icons ajouterCourteQuestion">add</i>
                    </a>
        div.col.s12  
            button(class="waves-effect waves-light btn" id="addAll" type="submit") #{estModification ? "Modifier" : "Ajouter"} 
    