mixin btn-back(titre, lienRetour)
    div.row.no-margin
        div.col.s12
            h1.with-icon 
                i(class="material-icons left medium waves-effect waves-light btn-retour"
                    data-lien-retour=lienRetour) chevron_left
                |#{titre}
                   
mixin table-remise-etudiants(remises, baseURL, currentOrdre)
    h3 Remises des étudiants
    div.row.table-container
        div.col.s12
            table.bordered.highlight
                thead 
                    tr  
                        th.data-field 
                            - var valueOrdreEtudiant = currentOrdre == 1 ? 2 : 1 
                            a.sort-header.with-icon(href=baseURL + "?o=" +  valueOrdreEtudiant) Étudiant
                                if currentOrdre == 1 || currentOrdre == 2
                                    i.material-icons #{currentOrdre == 1 ? "arrow_drop_up" : "arrow_drop_down"} 
                        th.data-field Code permanent 
                        th.data-field Etat
                        th.data-field Date de remise
                        th.data-field Date de correction
                        th.data-field
                            - var valueOrdreNote = currentOrdre == 3 ? 4 : 3 
                            a.sort-header.with-icon(href=baseURL + "?o=" + valueOrdreNote) Note 
                                if currentOrdre == 3 || currentOrdre == 4
                                    i.material-icons #{currentOrdre == 3 ? "arrow_drop_up" : "arrow_drop_down"} 
                tbody 
                    each remise in remises        
                        tr 
                            td #{remise._etudiant._nom}, #{remise._etudiant._prenom} 
                            td #{remise._etudiant._code_permanent}
                            td #{remise._etat}
                            td #{remise._dateRemise ? moment(remise._dateRemise).format("LLL") : "-"} 
                            td #{remise._dateCorrection ? moment(remise._dateCorrection).format("LLL") : "-"} 
                            td #{remise._note || "-"} / #{questionnaire ? questionnaire._questions.length : devoir._noteMaximale} 



mixin modal-remettre-devoir(titre, idEspaceCours, idDevoir)
    div.modal(id=`modal-remettre-devoir-${idDevoir}`)
        div.modal-content
            h1#modal-titre Remettre : #{titre}
            p Êtes vous sure de vouloir remettre votre devoir maintenant? La remise est #[b définitive]. 
            form.form-remettre-devoir(id=`form-remettre-devoir-${idDevoir}`)
                input(type="hidden" name="idEspaceCours", value=idEspaceCours)   
                input(type="hidden" name="idDevoir", value=idDevoir) 
                div.row
                    div.file-field.input-field.col.s12   
                        div(class="waves-effect waves-light btn blue accent-2") 
                            span Fichier 
                            input(type="file" accept=".pdf" name="devoir" required)
                        .file-path-wrapper 
                            input(class="file-path validate" type="text" accept=".pdf" required)
                div.row
                    div.col.s12  
                        button(class="waves-effect waves-light btn" type="submit") Remettre  





