mixin btn-back(titre, lienRetour)
    div.row.no-margin
        div.col.s12
            h1.with-icon 
                i(class="material-icons left medium waves-effect waves-light btn-retour"
                    data-lien-retour=lienRetour) chevron_left
                |#{titre}
                   
mixin table-remise-etudiants(remises, baseURL, currentOrdre)
    h3 Remises des étudiants
    div.row
        div.col.s12
            table.bordered.highlight
                thead 
                    tr  
                        th.data-field 
                            - var valueOrdreEtudiant = currentOrdre == 1 ? 2 : 1 
                            a.sort-header.with-icon(href=baseURL + "?o=" +  valueOrdreEtudiant) Étudiant
                                if currentOrdre == 1 || currentOrdre == 2
                                    i.material-icons #{currentOrdre == 1 ? "arrow_drop_up" : "arrow_drop_down"} 
                        th.data-field Code permanent 
                        th.data-field Etat
                        th.data-field Date de remise
                        th.data-field Date de correction
                        th.data-field
                            - var valueOrdreNote = currentOrdre == 3 ? 4 : 3 
                            a.sort-header.with-icon(href=baseURL + "?o=" + valueOrdreNote) Note 
                                if currentOrdre == 3 || currentOrdre == 4
                                    i.material-icons #{currentOrdre == 3 ? "arrow_drop_up" : "arrow_drop_down"} 
                tbody 
                    each remise in remises        
                        tr 
                            td #{remise._etudiant._nom}, #{remise._etudiant._prenom} 
                            td #{remise._etudiant._code_permanent}
                            td #{remise._etat}
                            td #{remise._dateRemise || "-"}
                            td #{remise._dateCorrection || "-"}
                            td #{remise._note || "-"} / #{questionnaire._questions.length} 

