extends ../../commun/master-template.pug 

block content
    //- Start bloc content
    +btn-back("Détail Questionnaire", `/enseignant/questionnaire/${questionnaire._idEspaceCours}`)
    div.row
        div.col.s10.offset-s1     
            h2.no-margin #{questionnaire._nom} 
            div.row.no-margin
                div.col.s12
                    ul.entries 
                        li Status: #{questionnaire._status ? "Actif" : "Inactif"} 
                        li Description: #{questionnaire._description} 
                        li Nombre de questions: #{questionnaire._questions.length} 

            +table-remise-etudiants(questionnaire._remises , `/enseignant/questionnaire/detail/${questionnaire._idEspaceCours}/${questionnaire._id}`, currentOrdre)

            div.section
                div.row
                    div.col.s12
                        a(class="waves-effect waves-light btn red right btn-delete-questionnaire" href="javascript:void(0)" 
                            data-id-questionnaire=questionnaire._id
                            data-nom=questionnaire._nom
                            data-id-espace-cours=questionnaire._idEspaceCours) Supprimer 
    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/questionnaire/questionnaire.js")