extends ../../commun/master-template.pug 

block content
  //- Start bloc content
    //-TODO AVOIR UN PARAM POUR LA PROVENANCE POUR MEILLEUR NAVIGATION   
  +btn-back("Ajouter une question au questionnaire", returnUrl)

  div.row
    div.col.s10.offset-s1  
        div.row
            h2 Catégories
            each tag in tags
                div.col.s2
                    div
                        label
                            input(class="with-gap ckb-tags" type="checkbox" name=tag checked="checked") 
                            span #{tag || "Sans tag"}                                             
        div.row
            h2 Questions
            ul.collection.with-header
                each question in questions   
                    li(class=`collection-item question-item${currentQuestionsID.indexOf(question._id) != -1 ? " selected" : ""}` data-tags=question._tags data-id=question._id)
                        div
                            div.text-bold #{question._nom}                                 
                            div Tags: #{question._tags.join(",") || "-"}
                else      
                    em Vous n'avez pas de Questions
        div.row 
            form#form-sauvegarder-questions
                input(type="hidden" name="idEspaceCours", value=idEspaceCours)   
                input(type="hidden" name="idQuestionnaire", value=idQuestionnaire)   
                button(class="waves-effect waves-light btn" type="submit") Sauvegarder

  //- End bloc content


block more-script
  script(type="text/javascript" src="/lib/enseignant/questionnaire/gerer-question-questionnaire.js")