extends ../../commun/master-template.pug 

block content
    //- Start bloc content  
    +btn-back(!espaceCours._id ? "Vos Questionnaires" : "Questionaires pour " + espaceCours._cours._sigle + " Gr: " + espaceCours._numero, 
        !espaceCours._id ? "/" : "/enseignant/questionnaires")  
    div.row
        div.col.s10.offset-s1   
            if espaceCours._id 
                div.row
                    div.col.s12
                        a(class="waves-effect waves-light btn btn-ajouter-question" href="/enseignant/questionnaires/ajouter/" + espaceCours._id) Ajouter          
            div.row
                if questionnaires.length > 0
                    div.section
                        div.row
                            each questionnaire in questionnaires
                                div.col.s12.l5
                                    div.card
                                        div.card-content
                                            div.card-title
                                                div.text-bolder #{questionnaire._nom}                                                          
                                            div #{questionnaire._descriptionQuestionnaire}                                                  
                                        div.card-action
                                            a(class="btn-detail-question" href="/enseignant/question/detail/" + uneQuestion._idEspaceCours + "/" + uneQuestion._id) Détail
                                            a(class="btn-modifier-question" href="/enseignant/question/modifier/" + uneQuestion._idEspaceCours + "/" + uneQuestion._id) Modifier              
                                            a(class="btn-delete-question" href="javascript:void(0)"
                                                data-id-question=uneQuestion._id
                                                data-nom=uneQuestion._nom
                                                data-id-espace-cours=uneQuestion._idEspaceCours) Supprimer 
                else
                    div.col.s12
                        em Vous n'avez pas de questionnaires

    //- End bloc content
block more-script
    script(type="text/javascript" src="/lib/enseignant/question/question.js")